nav a:not(:last-child)::after {
    content: '|';
    background-color: white; 
    margin: 0 1.7vw; 
}  
nav a:hover {
    text-decoration: underline;
}
h3 a{
    color:#0000EE;
}
h3 a:visited {
    color:#551A8B;
}
h3 a:link:active, h3 a:visited:active {
    color: #FF0000; 
}
a:active {
    color: gray;
}
.oldtopnav a:link:active, .oldtopnav a:visited:active {
    color: white;
}
.swal2-close:focus {
    box-shadow: none !important;
}
.swal2-html-container b {
    font-size: 18px;
}
#text_to_change {
    font-family: 'Times New Roman', Times, serif!important;
}
#backButton {
    position:absolute;
    margin: 0;
    top: 50%;
    left:0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display:none;
    padding-left:0;
    background-color: transparent;
    border:none;
}
#nextButton {
    position:absolute;
    margin: 0;
    top: 50%;
    right:0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right:0;
    background-color: transparent;
    border:none;
}
.backIcon {
    width: 2vw;
    height: 2vw;
}
.nextIcon {
    width: 2vw;
    height: 2vw;
}
#Season3Content {
    display:none;
    text-align: center;
}
.oldtopnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
    margin-top: 3vh;
}
#oldnavbarContent{
    display: flex;
}
.oldtopnav a {
    float: left;
    color: #f2f2f2;
    text-align: justify;
    padding: 0.911vw 0;
    margin-left: 1.45vw;
    text-decoration: none;
    font-size: 0.911vw;
    white-space: nowrap; /* Prevent text wrapping */  
}
.newtopnav {
    overflow: hidden;
    background-color: #333;
}
.newtopnav a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 0.911vw 0;
    margin-left: 1.6vw;
    text-decoration: none;
    font-size: 0.911vw;
    white-space: nowrap; /* Prevent text wrapping */  
}
#newnavbarContent {
    display:none;
}
body {
    background-image: url("../../Other_Files/bg-tv.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:0 /* Make topnav spread fullscreen */
}
h1 {
    pointer-events: none;
    color: black; 
    font-size: 1.979vw;
    text-align:center;
    margin-top: -2vh;
    font-weight: bolder!important;
    text-shadow:-3px 4px 4px rgba(0,0,0,0.4),
                -3px 8px 13px rgba(0,0,0,0.1),
                -3px 18px 23px rgba(0,0,0,0.1);
}
.Re {
    font-size:1.4vw;
    font-family: Joane;
}
.ZE {
    position: relative;
    bottom:0.08vw;
}
.RO {
    position: relative;
    top:0.08vw;
}
.emilia {
    position:absolute;
    width: 28vw;
    height: auto;
    right:0vw;
    top: 28vh;
}
.subaru {
    position:absolute;
    bottom:0;
    left:38vw;
    width: 24vw;
    height: 9.45vw;
    pointer-events: auto;
    user-select: none;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-weight: 700;
    position:absolute;
    left: 0.2vw;
    bottom: 0vw;
    font-size:0.8vw;
}
footer{
    position:absolute;
    bottom:0.3vh;
    right: 0.5vw;
}
#github{
    position:absolute;
    top:0;
    right:0.2vw;
}
p {
    color:#000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.146vw;
    font-weight: bold;  
    margin-top: -2vh;
}
#videoPlayer {
    width: auto; /*40vw*/
    height: 46.855vh; /*22.5vw*/
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2vh;
    display: block;
    position: relative;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}
.moveable_img{
    display: inline-block !important;
    width: 15vw;
    height: 6.3vw;
    position:relative;
    margin-top: 1vw;
    left:1vw;
    cursor: pointer;
    pointer-events: all !important;
}
.button-container-mobile {
    display:none;
}
.button-container,.button-container-mobile {
    color:#000000;
    text-align: center;
    position: relative;
    top: 1vh;
}
#text_to_change, #bodytext, #songname {
transition: opacity 0.5s, transform 0.5s; /* Define the transition properties */
}
.micromodal-slide {
    animation: fade-in 1s ease;
}

.slide-in {
animation: slideIn 3.25s ease;
animation-delay:2s;
animation-fill-mode: backwards;
}
.fade-in{
    animation: fadeIn 2.5s ease;
}
.fade-in-title{
    animation: fadeIn 2.5s ease;
    animation-delay:1.5s;
    animation-fill-mode: both;
}
.fade-in-bodytext{
    animation: fadeIn 2.5s ease;
    animation-delay:2.5s;
    animation-fill-mode: both;
}
.fade-in-songname{
    animation: fadeIn 2.5s ease;
    animation-delay:3.25s;
    animation-fill-mode: both;
}
@keyframes fadeIn {
from {
    transform: translateX(0%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}
@keyframes slideIn {
from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}
@media only screen and (max-width:2560px) {
    .emilia {
        display:none;
    }
}
@media only screen and (max-width: 722px) {
    #KeyboardControls {
        display:none;
    }
    .emilia {
        display:none;
    }
    body {
        display:block;
        background-image: url(../../Other_Files/bg-tv.png);
    }
    #default-sidebar{
        display:block !important;
    }
    .subaru {
        width: 60vw;
        height: 23.62vw;
        left: 25vw;
    }
    h3 {
        font-size:1.1vw;
    }
    .moveable_img {
        position: relative;
        width: 37.5vw;
        height: 15vw;
    }  
    h1 {
        font-size: 5vw; /* Adjust the font size of h1 for mobile */
        position:relative;
        margin-top: 0.3vh;
    }
    .Re {
        font-size: 3.2vw;
    }
    p {
        font-size: 2.8vw; /* Adjust the font size of p for mobile */
        margin-top: -0.5vh;
    }
     #videoPlayer {
        max-width: 100%; /* Make the video player responsive */
        height: auto; /* Allow the video player to adjust its height */
        margin-top: 6vw;
        width:auto;
    }
    #nextButton {
        padding:3px;
    }
    .topnav a {
        font-size:2.2vw;
        margin-left: 1.73vw;
        text-align: left;
        padding: 2vw 0;
    } 
    .oldtopnav {
        margin-top:2vh;
    }
    .button-container,.button-container-mobile {
        margin-top: 2vw;
    }
    .button-container span,.button-container-mobile span{
        font-size:12px;
        font-size:3vw !important;
    }
    .button-container-mobile {
        display:block;
    }
    #Desktop,#Desktop-text,#Theater,#Theater-text {
        display:none;
    }
    #github {
        position: absolute;
        top:auto;
        bottom:0.2vw;
        right:0.2vw;
    }
    .fa-stack {
        font-size:2vw !important;
    }
    .ZE {
    position: relative;
    bottom:0.2vw;
    }
    .RO {
    position: relative;
    top:0.2vw;
    }
    .swal2-image {
        max-width: 80%;
        height:70vh !important;
    }
    @media screen and (orientation: landscape) {
         body {
             display: none; /* Hide content in landscape mode */     
        }
    }
}
@media screen and (orientation: portrait) {
    #KeyboardControls {
        display:none;
    }
    body {
        display:block;
        background-image: url(../../Other_Files/bg-tv.png);
    }
    #default-sidebar{
        display:block !important;
    }
    .subaru {
        width: 60vw;
        height: 23.62vw;
        left: 25vw;
    }
    h3 {
        font-size:1.1vw;
    }
    .moveable_img {
        position: relative;
        width: 37.5vw;
        height: 15vw;
    }  
    h1 {
        font-size: 5vw; /* Adjust the font size of h1 for mobile */
        position:relative;
        margin-top: 0.3vh;
    }
    .Re {
        font-size: 3.2vw;
    }
    p {
        font-size: 2.8vw; /* Adjust the font size of p for mobile */
        margin-top: -0.5vh;
    }
     #videoPlayer {
        max-width: 100%; /* Make the video player responsive */
        height: auto; /* Allow the video player to adjust its height */
        margin-top: 6vw;
        width: 100%;
    }
    #nextButton {
        padding:3px;
    }
    .topnav a {
        font-size:2.2vw;
        margin-left: 1.73vw;
        text-align: left;
        padding: 2vw 0;
    } 
    .oldtopnav {
        margin-top:2vh;
    }
    .button-container,.button-container-mobile {
        margin-top: 2vw;
    }
    .button-container span,.button-container-mobile span{
        font-size:12px;
        font-size:3vw !important;
    }
    .button-container-mobile {
        display:block;
    }
    #Desktop,#Desktop-text,#Theater,#Theater-text {
        display:none;
    }
    #github {
        position: absolute;
        top:auto;
        bottom:0.2vw;
        right:0.2vw;
    }
    .fa-stack {
        font-size:2vw !important;
    }
    .ZE {
    position: relative;
    bottom:0.2vw;
    }
    .RO {
    position: relative;
    top:0.2vw;
    }
    .swal2-image {
        max-width: 80%;
        height:70vh !important;
    }
    .emilia {
        display:none;
    }
}
.loader--wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }