:root {
    --normalmouse: image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAllBMVEUAAAAkJCQfHx8SEhIMDAwNDQ0JCQkKCgoODg7x8fFycnL8/Pz9/f3Dw8MJCQn6+vqNjY3////y8vLp6ene3t7u7u7S0tLr6+vDw8P09PT29vb4+Pju7u7a2trw8PClpaVbW1ubm5utra0jKDP///8/Q03j5OWtrrNaXmbx8vLIycyRk5loa3MxNkCDhox2eYDx8fK6vL8DdzWRAAAAI3RSTlMABAcIDQsSFQ+YJePhKhrUOvCojG5nYVdUyMa0iYN3My0cGZgGfOIAAAD+SURBVDjLzZLZcsIwDEWxvJJAwtZC98WKk5LQ5f9/rso4Mx4UwjN61RndI9mzmypxvStAghDTEOzXOF/KSUTIMtS4eNUwQYDK/3xFyB0hFweo+Zf3vgm42JPLGAC1w8ZT/QR8WsYgFpHht/cDsult2ZLa5kcfq2qRFgJGaEMSQ0XbGJMk3D1JJOS4/hTMkiRSv6vx4zyEJMpB4tQGRHxWwC5BEqe+3/3iw8shMzoCI4kOy1VRWKOkGF+ipfSQvxfGaZmWSBKPJFHjyjqdHp5LVLgpXDzjGHAHbGiA0anNMrIccWsVTPRpxNt2Z5k9+xSGbccAkJJ/Fo70NbvB+gfwVhoJL6w+jwAAAABJRU5ErkJggg==) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAvVBMVEUAAAAdHR0TExMSEhIODg4KCgoHBwcGBgYHBwcJCQkMDAwGBgb+/v78/PwGBgYGBgbBwcH39/dra2vq6urExMT19fXu7u74+Pj09PTk5OTs7OzQ0NDm5ub+/v75+fn7+/vo6Oji4uLv7+/X19e1tbWysrKIiIjX19fa2trg4ODU1NRSUlKEhIS1tbW8vLwjKDP////j5OU/Q012eICtrrNaXmbx8fKfoaaRlJkxNkDIyczW19loa3ODhoxNUFlr0DWwAAAAL3RSTlMABgoIDQ8XEhUUERnx4yAbKsYnjFOmm7SXfWhiWeHU0p+Rd3JaRT1zS0k7Mh8YF+5vndUAAAIwSURBVFjD7ZbbUttAEERhtaurLcl2HDCXBJJA7tFYiMQBkv//rPRIU0FClFcrqige3O/d6jmz4/LeTju9UO1DT3F7P7573tgQ+PMZ0emRUsgY4/fyU2JNT5RCD/fvqyXcPwk6yDVP4lpAvyW6KzfEWuaug6AAB1wXRVkR6zDXLhEooMwh0aaAmojpO6cETBAfE90Uta7XdcSR5kGGB8xh+l00umoiTga34AD/TQ2hE3EgKIYFvCb6VfxXZyGDIIYCQdRaiFL2EvvKRAJB1F0IWtgqmKALobsQKwpACB5AeGQhW5+ijsNXRLf3zt5CkOAEobeQz0iwzDDDPRWiPs2JRoDLS+hG4NK/YJ1bZ2hB6OuW6JOyQpg8CqG8+1MxyG+DIFw9fAkVytdaxNshKEBYAEJ/hbUmq0hvbyAQ1u3uN413dvbxIgkDDQZOEP6u2X3+IU3TDH6jPEuADhKG0N4cnX2FO0v8KDCYYM92Dm0I5Rqfx9fhDtluPWpAiNsQKvgv0/rjMezit0FIAKFs+KP/cZr5mB323jXbIWCAJfyR2K1+OWl/RVRJgekl/LHuuC0U5SVIgfMswep4d0PlYQaBwAXm6K+76OwQ5Bx4he8TH/3Z7pCgTbjiH/cNCmR4u/369kVe1H8TuEBklHOApw1+llizJIydCzBGE4SLKU0Wc/hrgK4VOMGf4/W7+4WCMnEU4HgEgHMAYzBGaz3OjwBMwZL+4zpA/PzHi9077fRs+gdaMIOfVRGM4AAAAABJRU5ErkJggg==) 2x) 8 8, default;
    --pointermouse: image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAmVBMVEUAAAAbGxsZGRkTExMICAgJCQkPDw8QEBB1YfIICAh0X/BwXeltWuFZSrdyXuxpV9xnVdZiU8tvXehyX+1wXehuXOZfT8VdUcE0LWxyX+1zX+1lU8xmU81hUchVSbJYTLdSR6P///91YfOGdfX39f6pnPfLxPvu6/3Y0/zCuvq6sPmxpviXiPaPfvV+a/R9a/TDuvqhkvegkvdrWLcYAAAAIXRSTlMABQcLEBQNCfEX45aKVcaOfye4lId2Tykk1LRycWFCQBntRKz0AAABCUlEQVQ4y83S11LDMBAF0KhLNm6k0tmVbCchBfj/j8MaGHmIZHhjuLNve7xWm/2vkF/azXze0Ok+Xesz6vX0FJVj359zNSlYfnJwyDibEIStcAs73HCmKEkBucFX2KLWt1ovWGwIE1kLPbatr3zZREKJmzdwCOALMXsmEbg+AnyBvsclJRGwAKFwwcjFGp7wHcbglfwOqCyt+xFw/QIAnQUA23nAaQrs0X+9T04oT26c4LCW9OIkH/VxXESHq2gX4h4PAdhMBBD+Ye6w/Wy7Fh84jc6amwpt58DtLFZCRoAwbooMfcrCcJW4ccWFKeqqLoxIvxtC2UCMb/ubSomBSCnDm0qjIbM/zgdM/h9ZMvytJwAAAABJRU5ErkJggg==) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAsVBMVEUAAAAlJSUVFRUODg4KCgoICAgGBgYHBwcJCQkHBwd0YPIHBwcGBgYLCwtjU810X+9zX+9kU8xRQp5vXOdEOox0YPBzX+9wXelvXOZnVtdQRKc0LWpxXupyX+1rWd5tXORhUclWR7JkVMxORKJwXedwXupqWdtYSbZiVcv///91YfOGdfXu6/26sPn39f6onPfd1/x+a/TUzvuxpvipnffDuvqXiPbl4f3LxPuhkveypviacpDcAAAAKXRSTlMABQkMDxMWEBIY8RseFXLj00wZhzjiw5aof0Ylx8SeZmFXOTG4tmpXJ53eMHQAAAJ8SURBVFjD7ZfXdtswEEQTopAARXVbzXZc0jSUZFWX/P+HZQkgKocyQDMvOUnmAUcvczG7WEjQh//6a/XxN+1W9e0H1fVH3e/3UWQItfzdngb0oBvVIJjt2zBq1yGQPxoAyHMAPUaE9wdgGphPp3NAd+sQ2D2QT0k50GHROwlFgAcH2ACDmJXaEAZMNDAjwBq4FpwIVpUBXHwBdgRYAFomRCBZRlXACNi6JvSliBkrMfyAbOya8Aq0NK6/di41Lj85RhjAxASA7eKxeswhwiWolu3iDifqcGYJoQSJvALW9hgeF7PHX6u2hQQIBjAEXgjwbIIs3EoKTbdLEMseMCfAzLbCrU6dIoMfwLMRsHHWw+oKuWRBQJw1gW0J4ArR3EugDhHgFni1pvKKOBDBJXgyo5gfrw4gOPMmIMCDdoCyAGQ88gN4cgHks7cBMaNCfYAOTMPeAkhvE4pTHJozCAB8LWgDy6nVHPP9h+qAi0MFAPYfTgDeuxQAqMSfgAtTQv0EPBkAT2cBdpSDPUg6cBHKTVwC7cxMovc2fwZWz9Nz2gBDEfsnkXExaRHh7CjlwC2NsjcB1aD6rfPD/AJcqIQHb6NQfX2OMMuBpu1h6Fs1HRtC2d9S/ttMADMKMr2DJZz60d+PkTcCFyptAljt9vbFfAWgqdxlrkpAvl0uaPP1j8Kum6m0AQIA00iZ0lmcqD1OpeCRAYQJnAiN5hFCjxqF3waoREikShvfbq40mds3d41UycT5qxJEgXAiu4iN3wHChIjHSSaVUmlKixTF9tZfmcAoRSJEJoRIaHdW/m0PI4hhxDyvC++j+0h1nr1OUf3HPzFqmf+ov0//hn4CGZ+XfMz98P8AAAAASUVORK5CYII=) 2x) 10 6, pointer;
    --subarumouse: image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAmVBMVEUAAAAbGxsZGRkTExMICAgJCQkPDw8QEBB1YfIICAh0X/BwXeltWuFZSrdyXuxpV9xnVdZiU8tvXehyX+1wXehuXOZfT8VdUcE0LWxyX+1zX+1lU8xmU81hUchVSbJYTLdSR6P///91YfOGdfX39f6pnPfLxPvu6/3Y0/zCuvq6sPmxpviXiPaPfvV+a/R9a/TDuvqhkvegkvdrWLcYAAAAIXRSTlMABQcLEBQNCfEX45aKVcaOfye4lId2Tykk1LRycWFCQBntRKz0AAABCUlEQVQ4y83S11LDMBAF0KhLNm6k0tmVbCchBfj/j8MaGHmIZHhjuLNve7xWm/2vkF/azXze0Ok+Xesz6vX0FJVj359zNSlYfnJwyDibEIStcAs73HCmKEkBucFX2KLWt1ovWGwIE1kLPbatr3zZREKJmzdwCOALMXsmEbg+AnyBvsclJRGwAKFwwcjFGp7wHcbglfwOqCyt+xFw/QIAnQUA23nAaQrs0X+9T04oT26c4LCW9OIkH/VxXESHq2gX4h4PAdhMBBD+Ye6w/Wy7Fh84jc6amwpt58DtLFZCRoAwbooMfcrCcJW4ccWFKeqqLoxIvxtC2UCMb/ubSomBSCnDm0qjIbM/zgdM/h9ZMvytJwAAAABJRU5ErkJggg==) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAsVBMVEUAAAAlJSUVFRUODg4KCgoICAgGBgYHBwcJCQkHBwd0YPIHBwcGBgYLCwtjU810X+9zX+9kU8xRQp5vXOdEOox0YPBzX+9wXelvXOZnVtdQRKc0LWpxXupyX+1rWd5tXORhUclWR7JkVMxORKJwXedwXupqWdtYSbZiVcv///91YfOGdfXu6/26sPn39f6onPfd1/x+a/TUzvuxpvipnffDuvqXiPbl4f3LxPuhkveypviacpDcAAAAKXRSTlMABQkMDxMWEBIY8RseFXLj00wZhzjiw5aof0Ylx8SeZmFXOTG4tmpXJ53eMHQAAAJ8SURBVFjD7ZfXdtswEEQTopAARXVbzXZc0jSUZFWX/P+HZQkgKocyQDMvOUnmAUcvczG7WEjQh//6a/XxN+1W9e0H1fVH3e/3UWQItfzdngb0oBvVIJjt2zBq1yGQPxoAyHMAPUaE9wdgGphPp3NAd+sQ2D2QT0k50GHROwlFgAcH2ACDmJXaEAZMNDAjwBq4FpwIVpUBXHwBdgRYAFomRCBZRlXACNi6JvSliBkrMfyAbOya8Aq0NK6/di41Lj85RhjAxASA7eKxeswhwiWolu3iDifqcGYJoQSJvALW9hgeF7PHX6u2hQQIBjAEXgjwbIIs3EoKTbdLEMseMCfAzLbCrU6dIoMfwLMRsHHWw+oKuWRBQJw1gW0J4ArR3EugDhHgFni1pvKKOBDBJXgyo5gfrw4gOPMmIMCDdoCyAGQ88gN4cgHks7cBMaNCfYAOTMPeAkhvE4pTHJozCAB8LWgDy6nVHPP9h+qAi0MFAPYfTgDeuxQAqMSfgAtTQv0EPBkAT2cBdpSDPUg6cBHKTVwC7cxMovc2fwZWz9Nz2gBDEfsnkXExaRHh7CjlwC2NsjcB1aD6rfPD/AJcqIQHb6NQfX2OMMuBpu1h6Fs1HRtC2d9S/ttMADMKMr2DJZz60d+PkTcCFyptAljt9vbFfAWgqdxlrkpAvl0uaPP1j8Kum6m0AQIA00iZ0lmcqD1OpeCRAYQJnAiN5hFCjxqF3waoREikShvfbq40mds3d41UycT5qxJEgXAiu4iN3wHChIjHSSaVUmlKixTF9tZfmcAoRSJEJoRIaHdW/m0PI4hhxDyvC++j+0h1nr1OUf3HPzFqmf+ov0//hn4CGZ+XfMz98P8AAAAASUVORK5CYII=) 2x) 10 6, pointer;
}
nav li:not(:last-child)::after {
    content: '|';
    background-color: white; 
    margin: 0 0 0 2.34vw; 
}  
nav a:hover {
    text-decoration: underline;
}
nav li {
    list-style-type: none;
}
h3 a{
    color:#0000EE;
}
h3 a:visited {
    color:#551A8B;
}
h3 a:link:active, h3 a:visited:active {
    color: #FF0000; 
}
a:active {
    color: gray;
}
button:disabled {
    cursor: default;
}
.Endings--Seasons {
    display: none;
}
.oldtopnav a:link:active, .oldtopnav a:visited:active {
    color: white;
}
.swal2-close:focus {
    box-shadow: none !important;
}
.swal2-html-container b {
    font-size: 18px;
}
#text_to_change {
    font-family: 'Times New Roman', Times, serif!important;
}
#footer {
    background-color: white;
    bottom: 0;
}
#footer:hover {
    background-color:  rgb(209 213 219);
}
#nextButton, #backButton {
    position:absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left:0;
    background-color: transparent;
    border:none;
    outline: none;
}
#nextButton {
    right: 0
}
#backButton {
    left:0;
    display:none;
}
.nextIcon,.backIcon {
    width: 2vw;
    height: 2vw;
}
#Season3Content {
    text-align: center;
}
.oldtopnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
    margin-top: 3vh;
}
#oldnavbarContent,#newnavbarContent,#Season3Content{
    display: flex;
    justify-content: space-evenly;
}
#Season3Content {
    width: 55%;
    display:none;
}
nav li {
    float: left;
    color: #f2f2f2;
    text-align: justify;
    padding: 0.911vw 0;
    text-decoration: none;
    font-size: 0.911vw;
    white-space: nowrap; /* Prevent text wrapping */  
}
.newtopnav {
    overflow: hidden;
    background-color: #333;
}
.newtopnav li {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 0.911vw 0;
    text-decoration: none;
    font-size: 0.911vw;
    white-space: nowrap; /* Prevent text wrapping */  
}
#newnavbarContent {
    display:none;
}
body {
    background-image: url("../../Other_Files/bg-tv.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:0 /* Make topnav spread fullscreen */
}
h1 {
    pointer-events: none;
    color: black; 
    font-size: 1.979vw;
    text-align:center;
    margin-top: -2vh;
    font-weight: bolder!important;
    text-shadow:-3px 4px 4px rgba(0,0,0,0.4),
                -3px 8px 13px rgba(0,0,0,0.1),
                -3px 18px 23px rgba(0,0,0,0.1);
}
.Re {
    font-size:1.4vw;
    font-family: Joane;
}
.ZE {
    position: relative;
    bottom:0.08vw;
}
.RO {
    position: relative;
    top:0.08vw;
}
.emilia {
    position:absolute;
    width: 28vw;
    height: auto;
    right:0vw;
    top: 28vh;
}
.subaru {
    position:absolute;
    bottom:0;
    left:38vw;
    width: 24vw;
    height: 9.45vw;
    pointer-events: auto;
    user-select: none;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-weight: 700;
    position:absolute;
    left: 0.2vw;
    bottom: 0vw;
    font-size:0.8vw;
}
footer{
    position:absolute;
    bottom:0.3vh;
    right: 0.5vw;
}
#github{
    position:absolute;
    top:0;
    right:0.2vw;
}
p {
    color:#000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.146vw;
    font-weight: bold;  
    margin-top: -2vh;
}
#videoPlayer {
    width: auto; /*40vw*/
    height: 46.855vh; /*22.5vw*/
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2vh;
    display: block;
    position: relative;
}
nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}
.moveable_img{
    display: inline-block !important;
    width: 15vw;
    height: 6.3vw;
    position:relative;
    margin-top: 1vw;
    left:1vw;
    cursor: pointer;
    pointer-events: all !important;
}
.button-container-mobile {
    display:none;
}
.button-container,.button-container-mobile {
    color:#000000;
    text-align: center;
    position: relative;
    top: 1vh;
}
#text_to_change, #bodytext, #songname {
transition: opacity 0.5s, transform 0.5s; /* Define the transition properties */
}
.micromodal-slide {
    animation: fade-in 1s ease;
}

.slide-in {
animation: slideIn 3.25s ease;
animation-delay:2s;
animation-fill-mode: backwards;
}
.fade-in{
    animation: fadeIn 2.5s ease;
}
.fade-in-title{
    animation: fadeIn 2.5s ease;
    animation-delay:1.5s;
    animation-fill-mode: both;
}
.fade-in-bodytext{
    animation: fadeIn 2.5s ease;
    animation-delay:2.5s;
    animation-fill-mode: both;
}
.fade-in-songname{
    animation: fadeIn 2.5s ease;
    animation-delay:3.25s;
    animation-fill-mode: both;
}
#EnterTheaterModeButton {
    display: none;
}
@keyframes fadeIn {
from {
    transform: translateX(0%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}
@keyframes slideIn {
from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}
@media only screen and (max-width:2560px) {
    .emilia {
        display:none;
    }
}
@media only screen and (max-width: 722px) {
    #KeyboardControls {
        display:none;
    }
    .emilia {
        display:none;
    }
    #EnterTheaterModeButton {
        display: flex;
    }
    body {
        display:block;
        background-image: url(../../Other_Files/bg-tv.png);
    }
    #default-sidebar{
        display:block !important;
    }
    .subaru {
        width: 60vw;
        height: 23.62vw;
        left: 25vw;
    }
    h3 {
        font-size:1.1vw;
    }
    .moveable_img {
        position: relative;
        width: 37.5vw;
        height: 15vw;
    }  
    h1 {
        font-size: 5vw; /* Adjust the font size of h1 for mobile */
        position:relative;
        margin-top: 0.3vh;
    }
    .Re {
        font-size: 3.2vw;
    }
    p {
        font-size: 2.8vw; /* Adjust the font size of p for mobile */
        margin-top: -0.5vh;
    }
     #videoPlayer {
        max-width: 100%; /* Make the video player responsive */
        height: auto; /* Allow the video player to adjust its height */
        margin-top: 6vw;
        width:auto;
    }
    #nextButton {
        padding:3px;
    }
    .topnav a {
        font-size:2.2vw;
        margin-left: 1.73vw;
        text-align: left;
        padding: 2vw 0;
    } 
    .oldtopnav {
        margin-top:2vh;
    }
    .button-container,.button-container-mobile {
        margin-top: 2vw;
    }
    .button-container span,.button-container-mobile span{
        font-size:12px;
        font-size:3vw !important;
    }
    .button-container-mobile {
        display:block;
    }
    #Desktop,#Desktop-text,#Theater,#Theater-text {
        display:none;
    }
    #github {
        position: absolute;
        top:auto;
        bottom:0.2vw;
        right:0.2vw;
    }
    .fa-stack {
        font-size:2vw !important;
    }
    .ZE {
    position: relative;
    bottom:0.2vw;
    }
    .RO {
    position: relative;
    top:0.2vw;
    }
    .swal2-image {
        max-width: 80%;
        height:70vh !important;
    }
    @media screen and (orientation: landscape) {
         body {
             display: none; /* Hide content in landscape mode */     
        }
    }
}
@media screen and (orientation: portrait) {
    #KeyboardControls {
        display:none;
    }
    body {
        display:block;
        background-image: url(../../Other_Files/bg-tv.png);
    }
    #default-sidebar{
        display:block !important;
    }
    .subaru {
        width: 60vw;
        height: 23.62vw;
        left: 25vw;
    }
    h3 {
        font-size:1.1vw;
    }
    .moveable_img {
        position: relative;
        width: 37.5vw;
        height: 15vw;
    }  
    h1 {
        font-size: 5vw; /* Adjust the font size of h1 for mobile */
        position:relative;
        margin-top: 0.3vh;
    }
    .Re {
        font-size: 3.2vw;
    }
    p {
        font-size: 2.8vw; /* Adjust the font size of p for mobile */
        margin-top: -0.5vh;
    }
     #videoPlayer {
        max-width: 100%; /* Make the video player responsive */
        height: auto; /* Allow the video player to adjust its height */
        margin-top: 6vw;
        width: 100%;
    }
    #nextButton {
        padding:3px;
    }
    .topnav a {
        font-size:2.2vw;
        margin-left: 1.73vw;
        text-align: left;
        padding: 2vw 0;
    } 
    .oldtopnav {
        margin-top:2vh;
    }
    .button-container,.button-container-mobile {
        margin-top: 2vw;
    }
    .button-container span,.button-container-mobile span{
        font-size:12px;
        font-size:3vw !important;
    }
    .button-container-mobile {
        display:block;
    }
    #Desktop,#Desktop-text,#Theater,#Theater-text {
        display:none;
    }
    #github {
        position: absolute;
        top:auto;
        bottom:0.2vw;
        right:0.2vw;
    }
    .fa-stack {
        font-size:2vw !important;
    }
    .ZE {
    position: relative;
    bottom:0.2vw;
    }
    .RO {
    position: relative;
    top:0.2vw;
    }
    .swal2-image {
        max-width: 80%;
        height:70vh !important;
    }
    .emilia {
        display:none;
    }
}
.loader--wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}
.loader {
    width: fit-content;
    height: fit-content;
}
.skip {
    position: absolute;
    bottom:0;
    padding-bottom: 1vh;
}
.skip a {
    color: #87CEEB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
